## Read rules from all cubes and sort cubes by some metrics (Number rows, Number feeders,... )

In [46]:
import configparser
from TM1py.Services import TM1Service

In [111]:
config = configparser.ConfigParser()
config.read(r'../config.ini')

['../config.ini']

In [112]:
dict(config['tm1srv01'])

{'address': '91.236.254.119',
 'port': '5032',
 'user': 'erwan.tang',
 'password': 'Datatilt2021',
 'ssl': 'False',
 'decode_b64': 'False'}

In [54]:
with TM1Service(**config['tm1srv01']) as tm1:
    all_cubes = tm1.cubes.get_all()
    control_cubes = tm1.cubes.get_control_cubes()
    no_control_cubes = list(set(all_cubes)-set(control_cubes))

In [55]:
all_groups = tm1.security.get_all_groups()

# Determine the used groups from }ClientGroups Cube
mdx = "SELECT " \
        "NON EMPTY {TM1SUBSETALL( [}Clients] )} ON ROWS, " \
        "NON EMPTY {TM1SUBSETALL( [}Groups] )} ON COLUMNS " \
        "FROM [}ClientGroups]"
cube_content = tm1.cubes.cells.execute_mdx(mdx, ['Value'])

used_groups = {cell['Value'] for cell in cube_content.values() if cell['Value'] != ''}

In [75]:
groups_all_members = tm1.dimensions.subsets.get_element_names(dimension_name='}Groups',hierarchy_name='}Groups',subset_name='All Members')

In [97]:
groups_all_members

['ADMIN',
 'SecurityAdmin',
 'DataAdmin',
 'Education',
 'Manager',
 'Executive',
 'CFO',
 '}tp_Everyone',
 'Contribute_Americas',
 'Review_Americas',
 'Contribute_Central_Europe',
 'Review_Europe',
 'View_Company',
 'OperationsAdmin']

In [105]:
client_groups_content = tm1.cubes.cells.execute_view_dataframe(cube_name='}ClientGroups',view_name='All')

In [106]:
client_groups_content

        }Clients                    }Groups                      Value
0          Admin                      ADMIN                      ADMIN
1          Admin               }tp_Everyone               }tp_Everyone
2          Admin        Contribute_Americas        Contribute_Americas
3        Analyst                  DataAdmin                  DataAdmin
4        Analyst                  Education                  Education
5        Analyst               }tp_Everyone               }tp_Everyone
6       Consumer                  Education                  Education
7       Consumer               }tp_Everyone               }tp_Everyone
8     Instructor                      ADMIN                      ADMIN
9     Instructor               }tp_Everyone               }tp_Everyone
10  AppDeveloper                  DataAdmin                  DataAdmin
11  AppDeveloper               }tp_Everyone               }tp_Everyone
12   Contributor                  Education                  Education
13   Contributor               }tp_Everyone               }tp_Everyone
14         Smith                  Executive                  Executive
15         Smith               }tp_Everyone               }tp_Everyone
16        Howell                    Manager                    Manager
17        Howell               }tp_Everyone               }tp_Everyone
18       Douglas                    Manager                    Manager
19       Douglas               }tp_Everyone               }tp_Everyone
20         Healy                    Manager                    Manager
21         Healy               }tp_Everyone               }tp_Everyone
22        Murphy                    Manager                    Manager
23        Murphy               }tp_Everyone               }tp_Everyone
24         Jones                    Manager                    Manager
25         Jones               }tp_Everyone               }tp_Everyone
26         Young                  Executive                  Executive
27         Young               }tp_Everyone               }tp_Everyone
28          Troy                  Executive                  Executive
29          Troy               }tp_Everyone               }tp_Everyone
30          Reed                    Manager                    Manager
31          Reed               }tp_Everyone               }tp_Everyone
32       Andrews                        CFO                        CFO
33       Andrews               }tp_Everyone               }tp_Everyone
34        lbauer               }tp_Everyone               }tp_Everyone
35        lbauer            Review_Americas            Review_Americas
36        sfloyd               }tp_Everyone               }tp_Everyone
37        sfloyd        Contribute_Americas        Contribute_Americas
38       fhirsch               }tp_Everyone               }tp_Everyone
39       fhirsch  Contribute_Central_Europe  Contribute_Central_Europe
40     msaltzman               }tp_Everyone               }tp_Everyone
41     msaltzman              Review_Europe              Review_Europe
42      ptamrine               }tp_Everyone               }tp_Everyone
43      ptamrine               View_Company               View_Company
44    Erwan.tang                      ADMIN                      ADMIN

In [57]:
used_groups

{'ADMIN',
 'CFO',
 'Contribute_Americas',
 'Contribute_Central_Europe',
 'DataAdmin',
 'Education',
 'Executive',
 'Manager',
 'Review_Americas',
 'Review_Europe',
 'View_Company',
 '}tp_Everyone'}

In [117]:
from TM1py.Utils import get_all_servers_from_adminhost

get_all_servers_from_adminhost('91.236.254.119',None,True)

[<TM1py.Objects.Server.Server at 0x2a28a66cc20>,
 <TM1py.Objects.Server.Server at 0x2a28a66c4a0>,
 <TM1py.Objects.Server.Server at 0x2a28a66c0e0>,
 <TM1py.Objects.Server.Server at 0x2a28a669b20>,
 <TM1py.Objects.Server.Server at 0x2a28a66b980>,
 <TM1py.Objects.Server.Server at 0x2a28a668f80>,
 <TM1py.Objects.Server.Server at 0x2a28a66a4b0>,
 <TM1py.Objects.Server.Server at 0x2a28a669760>,
 <TM1py.Objects.Server.Server at 0x2a28a669250>,
 <TM1py.Objects.Server.Server at 0x2a28a669100>]